{{- if .Values.autoscaling.consumer.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: consumer-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: consumer
  minReplicas: {{ .Values.autoscaling.consumer.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.consumer.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.autoscaling.consumer.cpuThreshold }}
{{- end }}

