apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: consumer:latest
          imagePullPolicy: Never
          envFrom:
            - configMapRef:
                name: file-queue-config
          volumeMounts:
            - mountPath: /data
              name: shared-data
          ports:
            - containerPort: 8001
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-data-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: consumer
spec:
  selector:
    app: consumer
  ports:
    - protocol: TCP
      port: 8001
      targetPort: 8001

